body{
    margin:0;
    
}
.header {
    background-color: aquamarine;
    width: 100%;
    height: 50px;
}

.fixed-top{
    position: fixed;
    top: 0;
}

.stiky-top{
    position: sticky;
    top: 0;
}

.hero-imagen{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}

.slide{
    background-color: maroon;
    width: 100%;
    height: 100vh;
}

.slide:nth-child(odd){
    background-color: aqua;
}

.slide-title{
    background-color: beige;
    padding: 16px;
    text-align: center;
    position: sticky;
    top: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-window{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}

.modal-window:target{
    display: block;
}